.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #282c34;
}
.container {
  margin-bottom: 50px;
}
.upload-container {
  width: 600px;
  margin-top: 50px;
}

.gallery-container {
  max-width: 600px;
}

